body {
  align-items: center;
  background-color: hsl(199, 81%, 94%);
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

form {
  padding-left: 10px;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.result {
  background-color: hsl(201, 54%, 16%);
  border-radius: 0px 10px 10px 50px;
  color: white;
  justify-content: right;
  margin-left: 30px;
  width: 50%;
}

.mortgage-calculator {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: row;
  height: 550px;
  width: 800px;
}

.mortgage-amount {
  display: flex;
  flex-direction: column;
}

.input-container {
  position: relative;
  width: 380px;
}

.input-container::before {
  align-items: center;
  background-color: hsl(199, 81%, 94%);
  border-radius: 3px 0px 0px 3px;
  color: hsl(75, 48%, 27%);
  content: "£";
  display: flex;
  font-size: 16px;
  font-weight: 600;
  height: 93%;
  justify-content: center;
  left: 1px;
  position: absolute;
  top: 1px;
  transform: none;
  width: 30px;
}

.mortgage-amount input {
  border-radius: 3px;
  border: solid 1px hsl(200, 26%, 54%);
  box-sizing: border-box;
  height: 40px;
  width: 383px;
  padding-left: 32px;
}

.terms-rate {
  display: flex;
  flex-direction: row;
  gap: 12px;
  margin-top: 10px;
}

.term-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.term-container input {
  height: 40px;
}

.input-container-two {
  position: relative;
}

.input-container-two::after {
  align-items: center;
  background-color: hsl(199, 81%, 94%);
  border-radius: 3px 0px 0px 0px;
  color: #555;
  content: "years";
  display: flex;
  font-size: 12px;
  font-size: 16px;
  font-weight: 600;
  height: 93%;
  justify-content: center;
  position: absolute;
  right: 1px;
  top: 50%;
  transform: translateY(-50%);
  width: 40%;
}

.input-container-three {
  position: relative;
}

.input-container-three::after {
  align-items: center;
  background-color: hsl(199, 81%, 94%);
  border-radius: 3px 0px 0px 0px;
  color: #555;
  content: "%";
  display: flex;
  font-size: 12px;
  font-size: 16px;
  font-weight: 600;
  height: 93%;
  justify-content: center;
  position: absolute;
  right: 1px;
  top: 50%;
  transform: translateY(-50%);
  width: 20%;
}

.mortgage-type-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.repayment p,
.intrest-only p {
  display: inline;
  left: 10px;
  position: relative;
  top: 2px;
}

.repayment,
.intrest-only {
  align-items: center;
  border-radius: 3px;
  border: 1px solid hsl(200, 26%, 54%);
  display: flex;
  height: 40px;
}

.result {
  display: flex;
  justify-content: center;
  text-align: justify;
  text-align: center;
  width: 100%;
}

.result-text img,
.result-text h1,
.result-text p {
  position: relative;
  top: 80px;
}

button {
  background-color: hsl(61, 71%, 52%);
  border-radius: 3px;
  border: none;
  color: hsl(189, 43%, 15%);
  cursor: pointer;
  height: 40px;
  position: relative;
  top: 50px;
  width: 250px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

#selectedTypeText {
  display: none;
}

.total-payment {
  display: none;
  position: relative;
}

.total-repayment {
  display: none;
  position: relative;
}

h1 {
  color: hsl(205, 40%, 16%);
  font-family: "Plus Jakarta Sans", sans-serif;
}

.mortgage-calculator {
  color: hsl(205, 40%, 16%);
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 13px;
}

.payment-contaienr {
  background-color: hsl(202, 56%, 12%);
  border-top: 5px solid hsl(61, 71%, 53%);
  border-radius: 3px;
  bottom: 350px;
  color: white;
  display: flex;
  flex-direction: column;
  height: 250px;
  margin: auto;
  position: relative;
  top: 50px;
  width: 350px;
  z-index: 2;
  border-radius: 10px;
}

h2 {
  position: relative;
  top: 80px;
}

.title {
  position: relative;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 25px;
  font-weight: 700;
  color: white;
}

.title,
.finalresult p {
  position: relative;
  left: 15px;
}

.finalresult {
  display: none;
  position: relative;
  width: 100%;
  margin-left: 30px;
  background-color: hsl(201, 54%, 16%);
  position: relative; /* Ensure it can be layered */
  border-radius: 10px 10px 10px 50px;
  z-index: 1; /* Optional: Higher layers over elements below */
  color: white; /* Ensure text is visible over the dark background */
}

.selected-type span {
  color: hsl(61, 71%, 52%);
  font-size: 45px;
  font-weight: 550;
  position: relative;
  top: 5px;
}

.total-repayment span {
  color: white;
  font-size: 25px;
  font-weight: 550;
  position: relative;
  top: 5px;
}

.total-payment span {
  color: white;
  font-size: 25px;
  font-weight: 550;
  position: relative;
  top: 5px;
}

.selected-type,
.total-payment,
.total-repayment {
  position: relative;
  left: 30px;
  top: 20px;
}

.total-repayment,
.total-payment {
  position: relative;
  top: 60px;
}

h3 {
  position: relative;
  top: 60px;
}

hr {
  position: absolute;
  top: 105px;
  width: 85%;
  margin-left: 30px; /* Specify unit */
  background-color: #eee;
  border: none; /* No border */
  height: 1px; /* Thin line */
}
